/* flex helper */
.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.space-around {
  justify-content: space-around;
}

.flex.fg-1 {
  flex-grow: 1;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}
.flex.column {
  flex-direction: column;
}

.flex.flex-row {
  flex-direction: row wrap;
}

.flex.row-reverse {
  flex-direction: row-reverse;
}
/* list helper */
.clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
